@import url(http://fonts.googleapis.com/css?family=Roboto:400,100);
			#image1{
				text-align: right;
				
			}
			#image2{
				text-align:left;
				margin-left:1.5em;
			}
			#title1{
				margin-top:2em;
				margin-left:6em;
				font-family:calibri;
				font-size:16pt;
				
			}
			#title2{
				margin-left:8em;
				font-family:calibri;
				font-family:16pt;
				font-style:italic;
				
			}
			#label_{
				display:inline-block;
				width:140px;
				text-align:right;
			}
			input{
				float:center;
				clear:both;
			}
			#form1{
				font-family:calibri;
				text-align:center;
			}
			#welcome{
				margin-top:3.5em;
				font-family:calibri;
				text-align:center;
			}
			#back_ground{
				background-image: url("");
				background-color:white;
				height:700px;
				margin-top:3.5em;
			}
			#form2{
				font-family:calibri;
				margin-left:2.3em;
			}
			#navigation, th{
				font-family:calibri;
				text-align:justify;
				table-layout:fixed;
				width:120%;
				margin-left:2.5em;
				
			}
			td.second_table{
				font-size:smaller;
				
			}
			a:link{
				text-decoration:none;
			}
			a:hover{
				text-decoration:underline;
			}
			#paragraph1{
				font-family:calibri;
				font-size:smaller;
			}
			#table_captions{
				font-family:calibri;
				font-size:small;
				color:#555555;
				font-style:italic;
			}
			
			.login-card {
  				padding: 40px;
  				width: 274px;
  				background-color: #F7F7F7;
  				margin: 0 auto 5px;
  				border-radius: 2px;
  				box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  				overflow: hidden;
			}

			.login-card h1 {
	  			font-weight: 80;
 				text-align: center;
  				font-size: 1.0em;
  				font-family:calibri;
  				color:#555555;
			}

			.login-card input[type=submit] {
  				width: 100%;
  				display: block;
  				margin-bottom: 10px;
  				position: relative;
			}
			.login-card input[type=button] {
  				width: 100%;
  				display: block;
  				margin-bottom: 10px;
  				position: relative;
			}

			.login-card input[type=text], input[type=password], input[type=email]{
  				height: 22px;
  				font-size: 16px;
  				width: 100%;
 				margin-bottom: 10px;
  				-webkit-appearance: none;
  				background: #fff;
  				border: 1px solid #fffff;
  				border-top: 1px solid #c0c0c0;
  				/* border-radius: 2px; */
  				padding: 0 8px;
 				box-sizing: border-box;
  				-moz-box-sizing: border-box;
			}
			

			.login-card input[type=text]:hover, input[type=password]:hover {
 				border: 1px solid #b9b9b9;
  				border-top: 1px solid #a0a0a0;
  				-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  				-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  				box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
			}

			.login {
  				text-align: center;
  				font-size: 14px;
  				font-family: 'Arial', sans-serif;
  				font-weight: 700;
  				height: 36px;
  				padding: 0 8px;
				/* border-radius: 3px; */
				/* -webkit-user-select: none;
  				user-select: none; */
			}

			.login-submit {
  				/* border: 1px solid #3079ed; */
  				border: 0px;
  				color: #fff;
  				text-shadow: 0 1px rgba(0,0,0,0.1); 
  				background-color: #4d90fe;
  				/* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
			}

			.login-submit:hover {
  				/* border: 1px solid #2f5bb7; */
  				border: 0px;
  				text-shadow: 0 1px rgba(0,0,0,0.3);
  				background-color: #357ae8;
  				/* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
			}

			.login-card a {
  				text-decoration: none;
  				color: #666;
  				font-weight: 400;
  				text-align: center;
  				display: inline-block;
  				opacity: 0.6;
  				transition: opacity ease 0.5s;
			}

			.login-card a:hover {
  				opacity: 1;
			}

			.login-help {
  				width: 100%;
  				text-align: center;
  				font-size: 12px;
			}
			.login-card input[type=submit]:hover{
				cursor:pointer;
			}
			
			
		
		
		